body {
	padding: 0;
	margin: 0;
	font-family: 'microsoft yahei', 'Helvetica', simhei, simsun, sans-serif;
	background-color: #F7F7F7;
}

a {
	text-decoration: none;
}

figcaption {
	font-size: 24px;
	text-align: center;
	margin: 20px;
}

.player {
	width: 720px;
	height: 360px;
	margin: 0 auto;
	background: #000 url(../images/loading.gif) center/300px no-repeat;
	position: relative;
}

video {
	display: none;
	height: 100%;
	margin: 0 auto;
}

.controls {
	width: 720px;
	height: 40px;
	background-color: #2196F3;
	position: absolute;
	left: 0;
	bottom: -40px;
	z-index: 99;
	opacity: 0.7;
}

.player:hover .controls {
	opacity: 1;
}

/*播放/暂停*/
.controls .switch {
	display: block;
	width: 20px;
	height: 20px;
	font-size: 20px;
	color: #FFF;
	position: absolute;
	top: 11px;
	left: 11px;
}
.controls .switch:hover {
	color: blue;
}

/*全屏按钮*/
.controls .expand {
	display: block;
	width: 20px;
	height: 20px;
	font-size: 20px;
	color: #FFF;
	position: absolute;
	right: 11px;
	top: 11px;
}
.controls .expand:hover {
	color: blue;
}

/*进度条*/
.progress {
	width: 430px;
	height: 10px;
	border-radius: 3px;
	overflow: hidden;
	background-color: #555;
	cursor: pointer;
	position: absolute;
	top: 16px;
	left: 45px;
}

/*下载进度*/
.progress .loaded {
	width: 0;
	height: 100%;
	background-color: blue;
}

/*播放进度*/
.progress .line {
	width: 0;
	height: 100%;
	background-color: #FFF;
	position: absolute;
	top: 0;
	left: 0;
}

/**/
.progress .bar {
	width: 100%;
	height: 100%;
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

/*时间*/
.timer {
	height: 20px;
	line-height: 20px;
	position: absolute;
	left: 490px;
	top: 11px;
	color: #FFF;
	font-size: 14px;
}