<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>可从外部关闭的下拉菜单</title>
    <link rel="stylesheet" href="style.css">
    <style>
        .main {
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div id="app" v-cloak>
        <div class="main" v-clickoutside="handleClose">
            <button @click="show = !show">点击显示下拉菜单</button>
            <div class="dropdown" v-show="show">
                <p>下拉框的内容，点击外面区域可以关闭</p>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="clickoutside.js"></script>
    <script src="index.js"></script>
    <script>
        
    </script>
</body>
</html>