header.navbar.navbar-expand.navbar-dark.flex-column.flex-md-row
  a.navbar-brand.mr-0.mr-md-2(href='/') 豆瓣预告片
  .navbar-nav-scroll
    ul.navbar-nav.bd-navbar-nav.flex-row
      li.nav-item
        a.nav-link.active(href='/link1') 快捷链接 1