.idea/
.vscode
.project
.history
.nuxt
React/**/node_modules/
Vue/**/node_modules/
Webpack/**/node_modules/
Typescript/**/node_modules/
Typescript/**/.idea/
island/node_modules/
Node/**/node_modules/
projects/**/node_modules/
projects/**/miniprogram_npm/
Wechat/**/node_modules/
Wechat/**/miniprogram_npm/
**.DS_Store
