body {
    background-color: #f6f6f6;
}

.common-left {
    background-color: #FFF;
    padding: .3rem;
    border-radius: .3rem;
    border-bottom: 1px solid #eee;
}

.common-right {
    background-color: #FFF;
    margin-left: .5rem;
    padding: .3rem;
    border-radius: .3rem;
    border-bottom: 1px solid #eee;
}

.common-main {
    margin-top: .5rem;
}

.text-r { text-align: right;}
