<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ng-app之自动引导|Demos 代码演示、代码片段 - 读你 | 这世间唯有梦想和好姑娘不可辜负!</title>
    <meta name="Keyword" content="代码演示,代码片段,HTML5,CSS3,JavaScript,jQuery,Bootstrap,Angular">
    <meta name="Author" content="dunizb">
    <meta name="website" content="http://www.dunizb.com">
    <meta name="Description" content="Demos 代码演示、代码片段 - 读你 | 这世间唯有梦想和好姑娘不可辜负!">
    <link type="image/x-icon" rel="shortcut icon" href="favicon.ico"/>
</head>
<body>
<div ng-app="module1">
    <div ng-controller="AController">
        <input type="button" value="clicked me" ng-click="say()">
    </div>
</div>
<hr />
<div ng-app="module2">
    <div ng-controller="BController">
        <input type="button" value="clicked me" ng-click="say()">
    </div>
</div>

<script src="../node_modules/angular/angular.min.js"></script>
<script type="text/javascript">
    angular.module("module1",[]).controller("AController",function($scope){
        $scope.name = "module1";
        $scope.say = function () {
            alert($scope.name);
        }
    });

    angular.module("module2",[]).controller("BController",function($scope){
        $scope.name = "module2";
        $scope.say = function () {
            alert($scope.name);
        }
    });

</script>
</body>
</html>