@charset "UTF-8";

body,html{
    height: 100%;
}
body{
    min-width: 300px;
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 62.5%;
}
ul {padding: 0;margin: 0;}


#container {
    overflow: hidden;
    padding: 5px 5px;
}
.calc {
    width: 300px;
    max-width: 600px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    flex-wrap: wrap;
    height: 100%;
    -webkit-transition: all .8s;
    transition: all .5s;
    overflow: hidden;
    z-index: 0;
    position: relative;
    /* text-shadow: 0 2px 1px rgba(0,0,0,0.2); */
}
.flexbox {
    width: 600px;
    transform: none;
}

#top {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 30%;
}
#win-tool {
    background-color: #999;
    min-height: 35px;
    position: relative;
    padding: 7px 8px 0 8px;
    text-align: right;
    width: 100%;
    box-sizing: border-box;
}
#win-tool span {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    line-height: 18px;
    margin-right: 3px;
    text-align: center;
    display: inline-block;
    font-size: .75em;
    color: #fff;
    font-weight: bold;
    cursor: default;
    position: absolute;
    top: 8px;
}
#close {
    background-color: #FC5652;
    left: 8px;
}
#max {
    background-color: #FDBC40;
    left: 34px;
}
#mini {
    background-color: #34C749;
    left: 60px;
}
#win-tool a {
    background: hsl(0, 0%, 80%);
    display: inline-block;
    width: 45px;
    /*height: 1.3em;*/
    border-radius: 10px;
    text-align: center;
    line-height: 1.5em;
    color: inherit;
    text-decoration: none;
    font-size: .75em;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", Helvetica, "Helvetica Neue", "微软雅黑", Tahoma, Arial, sans-serif;
}
#win-tool a:hover {
    background: hsl(28, 90%, 60%);
    color: #fff;
}
#win-tool a:active {
    background: hsl(0, 100%, 50%);
    color: #fff;
}
#result {
    min-height: 90px;
    width: 100%;
    height: 100%;
    background-color: #999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-family: "Helvetica Neue Light";
    padding: 0 5px;
    color: #FFF;
    overflow: hidden;
    box-sizing: border-box;
}
#result > #express {
    font-size: 2em;
    height: 1em;
}
#result > #res {
    font-size: 4.5em;
}
#bottom {
    align-items: stretch;
    width: 100%;
    height: 70%;
    text-shadow: 0 2px 1px rgba(0,0,0,0.3);
}
#bottom .row {
    height: 20%;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    margin-bottom: -1px;
}
#bottom .row span:first-child {
    border-left: 0;
}
#bottom .row:last-child span {
    border-bottom: 0;
}
#bottom .row span{
    height: 100%;
    width: 25%;
    background-color: #F2F2F2;
    border: 1px solid #999;
    border-right: 0;
    color: #000;
    font: 400 2em/62px "Microsoft YaHei";
    cursor: default;
    -webkit-user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#win-tool span:active,
#bottom .row span:active,
#bottom .row span.tool:active{
    background-color: red;
    color: #fff;
}
#bottom .row span:hover,
#bottom .row span.tool:hover {
    box-shadow: 0px 0px 15px #999;
    position: relative;
}
#bottom .row span.tool {
    background-color: #F5923E;
    color: #fff;
}
#bottom .row span.cheng,
#bottom .row span.chu,
#bottom .row span.add,
#bottom .row span.eq
{
    font-size: 3.3em;
}
#bottom .row span.jiang {
    font-size: 1.5em;
    font-weight: bolder;
}
#bottom .row span.zero {
    width: 50.4%;
    box-sizing: border-box;
    height: 100%;
    align-items: flex-start;
}
#bottom .row span.zero i {
    font-style: normal;
    padding-left: 21.2%;
}


/************** 历史记录 *****************/
#historyBox {
    background: hsl(0, 0%, 95%);
    width: 100%;
    height: 71%;
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: 0;
    box-shadow: 0px 0px 10px #000;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transform: translateY(102%);
    transform: translateY(102%);
    font-family: "Microsoft Yahei", "Hiragino Sans GB", Helvetica, "Helvetica Neue", "微软雅黑", Tahoma, Arial, sans-serif;
}
#historyBox .con {
    height: 92%;
    overflow-y: auto;
}
#historyBox .remove {
    height: 8%;
    /*background: green;*/
    text-align: right;
    /*padding: 2px 10px;*/
    box-sizing: border-box;
    border-top: 1px solid transparent;
}
#historyBox .remove .icon_del {
    display: inline-block;
    width: 30px;
    height: 23px;
    background: url("../images/delete1.png") no-repeat;
    box-sizing: border-box;
    background-position: center center;
}
#historyBox .remove .icon_del:hover {
    background-color: hsl(0, 0%, 88%);
}
#historyBox ul {
    padding: 5px 0;
    color: hsl(0, 0%, 88%);
}
#historyBox ul li {
    height: 45px;
    text-align: right;
    line-height: 45px;
    font-size: 2.2em;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", Helvetica, "Helvetica Neue", "微软雅黑", Tahoma, Arial, sans-serif;
    background: hsl(0, 0%, 95%);
    padding: 0 10px;
    color: #000;
}
#historyBox ul li:hover {
    background:hsl(0, 0%, 88%);
}


/*小屏*/
@media (max-width: 500px){
    body{
        font-size: 80%;
    }
    #container {
        height: 100%;
        padding: 0;
    }
    .calc {
        width: 100%;
        height: 100%;
        max-width: none;
    }
    #result > #res {
        font-size: 3.5em;
    }
    #bottom .row {margin: 0;}
    #bottom .row span {
        box-sizing: border-box;
        padding-top:.5em;
        border-top: 0;
    }
    #bottom .row span.tool {
        padding-top: .2em;
    }
    #bottom .row span.zero {
        width: 50.1%;
    }
}