body {
    h1 {
        color: red;
        transform: rotateX(45deg);
    }
    .calcimg {
        width: 200px;
        border: 2px solid red;
        border-radius: 20px;
        margin-right: 10px;
    }
}