@charset "UTF-8";
/*************************
css  reset 重置默认样式
**************************/
*,
::before,
::after{
    padding: 0;
    margin: 0;
    /*设置所有的盒子都是以边框开始计算  使用的都流式布局*/
    -webkit-box-sizing: border-box;/*要求兼容主流浏览器 webkit内核的必须*/
    box-sizing: border-box;
    /*清除移动端默认的点击高亮效果*/
    -webkit-tap-highlight-color: transparent;
}
html {height: 100%;}
body{
    font-size: 14px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", Helvetica, "Helvetica Neue", "微软雅黑", Tahoma, Arial, sans-serif;
    min-width: 300px;
    height: 100%;
}
ul,ol{
    list-style: none;
}

a{
    color: #333;
    text-decoration: none;
}
a:hover{
    color: #333;
}

input,textarea{
    outline: none;
    border: none;
    resize: none;
    /*清除移动端默认的输入框的默认样式*/
    -webkit-appearance: none;
}

/******************************
              layout
/******************************/
.layout {
    width: 100%;
    height: 100%;
    max-width: 640px;
    min-width: 300px;
    margin: 0 auto;
    position: relative;
}

div.hr{
    height: 5px;
    background-color: #e3e3e3;
}
/******************************
        头部图片
/******************************/
.header-img-box {
    height: 240px;
    width: 100%;
    position: relative;
}
.header-img-box img{
    height: 240px;
    width: 100%;
}
.header-img-box .watch{
    width: 90px;
    height: 40px;
    line-height: 40px;
    background-color: rgba(227,227,227,.8);
    position: absolute;
    right: 0;
    top: 38px;
    border-radius: 25px 0 0 25px;
    font-size: 12px;
    text-align: right;
    padding-right: 5px;
}
.header-img-box .img-box-price{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(227,227,227,.8);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/******************************
        价格部分
/******************************/
.price-list{
    height: 128px;
    background-color: #fff;
    font-size: 12px;
    color: #646464;
    padding: 8px 0;
}
.price-list ul li{
    width: 25%;
    height: 55.5px;
    float: left;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.price-list ul li p{
    padding: 2px;
}
.price-list ul li .item{
    border-right:1px solid #e3e3e3;
}
.b0{
    border-right: 0 !important;
}

.content {
    padding: 10px;
    background-color: #fff;
}
/******************************
        echarts
/******************************/
ul.tab {
    height: 40px;
    display: flex;
}
.tab .tab-item {
    position: relative;
    width: 50%;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #e3e3e3;
}
li .split{
    width: 1px;
    display: inline-block;
    background-color: #e3e3e3;
    height: 20px;
    position: absolute;
    right: 0;
    top: 10px;
}
.tab-item.active{
    color: red;
    border-bottom: 1px solid red;
}
.products .main {
    display: none;
}
.products .main.selected {
    display: block;
}
.kline-content {
    min-height: 200px;
    width: 100%;
}

/******************************
        xxxxx
/******************************/
.wrapper-ul{
    display: flex;
    font-size: 12px;
}
.wrapper-ul ul{
    width: 50%;
    padding: 10px;
}
.wrapper-ul ul:first-child{
    border-right:1px solid #e3e3e3;
}
.wrapper-ul li span{
    display: inline-block;
    color:#7f7f7f;
}
.wrapper-ul li span.title{
    width: 28px;
}
.wrapper-ul li span.rate,
.wrapper-ul li span.price{
    width: 60px;
}
.wrapper-ul li span.rate{
    text-align: center;
}
.wrapper-ul li span.price{
    text-align: right;
}
.wrapper-ul li span.red{
    color: red;
}
.wrapper-ul li span.green{
    color: green;
}

/******************************
        xxxxx
/******************************/
.opear-tim{
    padding: 10px 18px;
}
.opear-tim .wrapper-title{
    padding: 10px 0 20px 0;
}
.opear-tim .wrapper-title .title{
    font-weight: bold;
    border-left: 2px solid red;
    height: 14px;
    line-height: 14px;
    padding-left: 5px;
}
.opear-tim .opear-time-table{
    width: 100%;
    text-align: center;
    border-top: 1px solid #e3e3e3;
    border-collapse: collapse;
}
.opear-time-table thead th{
    font-weight: normal;
    color: #7f7f7f;
}
.opear-time-table thead tr{
    height: 30px;
}
.opear-time-table tbody tr{
    height: 44px;
}
.opear-time-table tr td{
    border-top: 1px solid #e3e3e3;
}
.left{
    text-align: left;
}
.opear-time-table tbody td.more{
    color: #7f7f7f;
    border-bottom: 0;
}

/******************************
        xxxxx
/******************************/
.myinfo .tab-item{
    width: 25%;
}
.myinfo .products .tags {
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
}
.myinfo .products .tags span{
    border: 1px solid red;
    color: red;
    padding: 5px 15px;
    border-radius: 3px;
    margin-right: 5px;
}
.myinfo .products .wrapper{
    height: 44px;
    line-height: 44px;
    padding: 0 15px;
}
.myinfo .products .wrapper .title{
    border-bottom: 1px solid #e3e3e3;
}
.myinfo .products .wrapper .title span{
    border-left: 2px solid red;
    padding-left: 5px;
    font-weight: bold;
}
.myinfo .products .myinfo-content{
    margin: 10px 15px;
}
.myinfo .products .myinfo-table{
    width: 100%;
}
.myinfo .products .myinfo-table th{
    text-align: left;
    width: 70px;
    height: 38px;
    font-weight: normal;
    color: #7f7f7f;    
}
.myinfo .products .myinfo-actives li{
    line-height: 18px;
}