* {
  padding: 0;
  margin: 0;
}

body {
  width: 300px;
  height: 250px;
  padding: 20px;
  font-size: 14px;
}

.line {
  margin: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  text-align: left;
}

caption {
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
}
