<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>数字输入框组件</title>
    <style>
        #app {
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="app">
        <input-number v-model="value" :max="10" :min="0"></input-number>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="input-number.js"></script>
    <script src="index.js"></script>
</body>
</html>