<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>0.component-basic</title>
</head>
<body>
    <div id="app1"></div>
    <div id="app2"></div>
    <script type="text/javascript" src="../js/react.development.js"></script>
    <script type="text/javascript" src="../js/react-dom.development.js"></script>
    <script type="text/javascript" src="../js/babel.min.js"></script>
    
    <script type="text/babel">
        // 1. 定义组件
        // 方式1: 工厂函数组件(简单组件)
        function MyComponent () {
            return <h2>工厂函数组件(简单组件)</h2>
        }

        // 方式2:  ES6类组件(复杂组件)
        class MyComponent2 extends React.Component {
            render() {
                return <h2>ES6类组件(复杂组件)</h2> 
            }
        }
        // 2. 渲染组件标签
        ReactDOM.render(<MyComponent />, app1)
        ReactDOM.render(<MyComponent2 />, app2)
    </script>
</body>
</html>