<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>5.forms</title>
</head>
<body>
    <div id="app"></div>
    <script type="text/javascript" src="../js/react.development.js"></script>
    <script type="text/javascript" src="../js/react-dom.development.js"></script>
    <script type="text/javascript" src="../js/prop-types.js"></script>
    <script type="text/javascript" src="../js/babel.min.js"></script>
    
    <script type="text/babel">
        /**
         * 需求: 自定义包含表单的组件
         * 1. 输入用户名密码后, 点击登陆提示输入信息
         * 2. 不提交表单
         */ 
        class LoginForm extends React.Component {
            constructor(props){
                super(props)
                this.state = {
                    pwd: '123'
                }
                this.handleSubmit = this.handleSubmit.bind(this)
                this.handleChange = this.handleChange.bind(this)
            }
            handleSubmit(event) {
                const name = this.nameInput.value
                const {pwd} = this.state
                alert(`准备提交的用户名：${name}，密码为：${pwd}`)
                event.preventDefault()
            }
            handleChange(event) {
                const pwd = event.target.value
                this.setState({ pwd })
            }
            render() {
                return (
                    <form action="" onSubmit={this.handleSubmit}>
                        用户名：<input type="text" ref={input => this.nameInput = input} />
                        密码：<input type="password" value={this.state.pwd} onChange={this.handleChange} />
                        <input type="submit" value="登录" />
                    </form>
                )
            }
        }

        ReactDOM.render(<LoginForm />, app)
    </script>
</body>
</html>