body{
    background-color: burlywood;
    color: red;
}

#image{
    background-image: url(../images/css3-tip.png);
    width: 500px;
    height: 300px;
    background-size: contain;
    transform: rotate(45deg);
    box-shadow: 1px 0px rgba(0,0,0,.25);
}