$nav-color: #abcdef;

nav {
    $width: 100px;
    height: 20px;
    background-color: $nav-color;
    text-align: center;
    line-height: 20px;
    border-radius: 10px;
    transform: rotate(45deg);
    box-shadow: 1px 0px rgba(0,0,0,.25);
}

#aaa {
    background-color: $nav-color;
    text-align: center;
    line-height: 20px;
}