<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>用户登录表单 Get</h1>
    <form id="demoByGet" action="/doLogin" method="get">
        <p>姓名：<input type="text" name="userName" /></p>
        <p>密码：<input type="text" name="password" /></p>
        <p><button onsubmit>提交</button></p>
    </form>

    <h1>用户登录表单 Post</h1>
    <form id="demoByPost" action="/doLogin" method="post">
        <p>姓名：<input type="text" name="userName" /></p>
        <p>密码：<input type="text" name="password" /></p>
        <p><button onsubmit>提交</button></p>
    </form>
</body>
</html>
