/****************
 *  页面样式
 **************/
 
/* ==============
    基本默认
   ============== */
html {
    font-size: 62.5%;
    color: #222;
}   

::selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/* ==============
    工具样式
   ============== */

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}   

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ==============
    浏览器更新提示
   ============== */

.browserupgrade {
    margin: 0;
    padding: 1rem;
    background: #ccc;
}   

/* ==================
    自定义页面样式
   ============== */

body {
    font-size: 1.2rem;
    line-height: 1.5;
    background-color: #f7f7f7;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover, a:active {
    color: #0ae;
    text-decoration: underline;
}

/* 网站头部 */

header {
    width: 100%;
}

header .top {
    line-height: 3rem;
    padding: 0 1.5rem;
    color: #fff;
    background: #555;
    border-bottom: 1px #ecc000 solid;
}

header .top .hottel {
    float: left;
}

header .top ul {
    text-align: right;
}

header .top ul li {
    display: inline-block;
}

header .top ul li + li {
    border-left: 1px solid #999;
    margin-left: -3px;
}

header .top ul li a {
    display: inline-block;
    padding: 0 1.5rem;
    color: #fff;
}


/* 网站主要内容 */

.container {
    width: 100%;
}

/* 网站底部导航 */

.footer {
    width: 100%;
}