/****************
 *  页面样式
 **************/
 
/* ==============
    基本默认
   ============== */
html {
    font-size: 62.5%;
    color: #222;
}   

::selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/* ==============
    工具样式
   ============== */

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}   

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}