/****************
 *  页面样式
 **************/
 
/* ==============
    基本默认
   ============== */
html {
    font-size: 62.5%;
    color: #222;
}   

::selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/* ==============
    工具样式
   ============== */

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}   

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ==============
    浏览器更新提示
   ============== */

.browserupgrade {
    margin: 0;
    padding: 1rem;
    background: #ccc;
}   

/* ==================
    自定义页面样式
   ============== */

body {
    font-size: 1.2rem;
    line-height: 1.5;
    background-color: #f7f7f7;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover, a:active {
    color: #0ae;
    text-decoration: underline;
}

/* 网站头部 */

header {
    width: 100%;
}

header .top {
    line-height: 3rem;
    padding: 0 1.5rem;
    color: #fff;
    background: #555;
    border-bottom: 1px #ecc000 solid;
}

header .top .hottel {
    float: left;
}

header .top ul {
    text-align: right;
}

header .top ul li {
    display: inline-block;
}

header .top ul li + li {
    border-left: 1px solid #999;
    margin-left: -3px;
}

header .top ul li a {
    display: inline-block;
    padding: 0 1.5rem;
    color: #fff;
}

header .mian {
    padding: 0;
}

header .main .brand {
    float: left;
    padding: 1rem 1.5rem;
}

header .main ul {
    text-align: right;
}

header .main ul li {
    display: inline-block;
    border-left: 1px #f0ede9 solid;
}

header .main ul li a {
    display: inline-block;
    padding: 0 3rem;
    line-height: 5.5rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: #7c7a65;
    text-decoration: none;
}

header .main ul li a:hover,
header .main ul li a:active,
header .main ul li a:active {
    color: #ffb300;
    background-color: #f8f6f1;
}

/* 网站主要内容 */

.container {
    width: 100%;
}

/* 网站底部导航 */

footer {
    width: 100%;
    padding: 3rem 0 5rem;
    background-color: ##ededed;
}

footer ul {
    text-align: center;
}

footer ul li {
    display: inline-block;
}

footer ul li .icon {
    display: inline-block;
    text-indent: -999rem;
    margin-right: 1.5rem;
    background: url(https://i.alipayobjects.com/e/201307/jebmKcbrh.png) no-repeat;
    background-size: 466px 447px;
    overflow: hidden;
}

footer ul li .icon_zfywxkz {
    width: 38px;
    height: 27px;
    background-position: -369px -45px;
}
footer ul li .icon_pci {
    width: 78px;
    height: 27px;
    background-position: -110px -96px;
}

footer ul li .icon_visa {
    width: 36px;
    height: 27px;
    background-position: -426px -90px;
}

footer ul li .icon_versign {
    width: 63px;
    height: 27px;
    margin-right: 13px;
    background-position: -401px -186px;
}

footer ul li .icon_wlgs {
    width: 22px;
    height: 27px;
    background-position: -48px -48px;
}

footer ul li .icon_rzcx {
    width: 75px;
    height: 27px;
    background-position: 0 -320px;
}

footer ul li .icon_gs {
    width: 30px;
    height: 30px;
    margin-right: 0;
    background: url(https://os.alipayobjects.com/rmsportal/lybcjqloSPjMAFg.png) no-repeat;
    background-size: 30px;
}

footer p {
    text-align: center;
    color: #999;
}