extends ./layouts/default
block title 
    title Koa 豆瓣电影预告片
    
block content
    .container
        .row
            .col-md-8
                h1 Hi #{you}
                p This is #{me}
            .col-md-4
                p 测试动态的Pug模板引擎