{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd"
            }
        ]
        // [
        //     "styled-components",
        //     {
        //         "ssr": true
        //     }
        // ]
    ]
}
