@charset "UTF-8";
.title {
	text-align: center;
	height: 32px;
	font: 400 16px/32px "Microsoft YaHei";
}
.items {
	width: 298px;
	height: 220px;
	text-align: center;
	line-height: 220px;
	float: left;
	margin-right: 3px;
	overflow: hidden;
	transition: all 0.7s;
	border-radius:25px;
}
.items a {
	display: block;
	height: 220px;
	font: 700 20px/220px "Microsoft YaHei";
	transition: all 1s;
	color: #fff;
	border-radius:25px;
}
.items:hover a {
	font: 700 30px/220px "Microsoft YaHei";
	background-color: #169FE6;
	color: #fff;;
	transform: rotateX(360deg);
	-webkit-transform: rotateX(360deg); /* Safari and Chrome */
	text-decoration: none;
}
.items:hover a.no {
	cursor: default;
}
.items:hover a.no:after {
	content: '敬请期待';
}
.friendlink ul {
	display: inline-block;
}
.friendlink h2 {
	background-color: #fff;
	color: #666;
	font-size: 12px;
	font-weight: 700;    
	line-height: 20px;
    font-family: "simsun";
}
.footer-tl-li {
	background-color: #F7F7F7;
	text-align: center;
	padding-top: 5px;
}