<!doctype html>
<html ng-app="MyCSSModule">

<head>
    <meta charset="utf-8">
    <style>
        .error {
            background-color: red;
        }
        .warning {
            background-color: yellow;
        }

    </style>
</head>

<body>
    <div ng-controller='HeaderController'>
        <div ng-class='{error: isError, warning: isWarning}'>{{messageText}}</div>
        <button ng-click='showError()'>Simulate Error</button>
        <button ng-click='showWarning()'>Simulate Warning</button>
    </div>
</body>
<script src="../node_modules/angular/angular.min.js"></script>
<script>
    var myCSSModule = angular.module('MyCSSModule', []);
    myCSSModule.controller('HeaderController', ['$scope',
        function($scope) {
            $scope.isError = false;
            $scope.isWarning = false;
            $scope.showError = function() {
                $scope.messageText = 'This is an error!';
                $scope.isError = true;
                $scope.isWarning = false;
            };
            $scope.showWarning = function() {
                $scope.messageText = 'Just a warning. Please carry on.';
                $scope.isWarning = true;
                $scope.isError = false;
            };
        }
    ])

</script>

</html>
