<!doctype html>
<html ng-app="myApp">
	<head>
		<meta charset="utf-8">
		<style>
			.show-scope-demo .ng-scope,.show-scope-demo .ng-scope {
				border: 1px solid red;
				margin: 3px;
			}
		</style>
	</head>
	<body>
		<div ng-controller="EventController">
			Root scope
			<tt>MyEvent</tt> count: {{count}}
			<ul>
				<li ng-repeat="i in [1]" ng-controller="EventController">
					<button ng-click="$emit('MyEvent')">
						$emit('MyEvent')
					</button>
					<button ng-click="$broadcast('MyEvent')">
						$broadcast('MyEvent')
					</button>
					<br>
					Middle scope
					<tt>MyEvent</tt> count: {{count}}
					<ul>
						<li ng-repeat="item in [1, 2]" ng-controller="EventController">
							Leaf scope
							<tt>MyEvent</tt> count: {{count}}
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</body>
	<script src="../node_modules/angular/angular.min.js"></script>
	<script>
		angular.module("myApp",[])
				.controller("EventController",["$scope",function($scope){
					$scope.count = 0;
					$scope.$on('MyEvent', function() {
						$scope.count++;
					});
				}])
	</script>
</html>